@font-face {
  font-family: 'bestortho';
  src:  url('../fonts/bestortho.eot?n65b3u');
  src:  url('../fonts/bestortho.eot?n65b3u#iefix') format('embedded-opentype'),
    url('../fonts/bestortho.ttf?n65b3u') format('truetype'),
    url('../fonts/bestortho.woff?n65b3u') format('woff'),
    url('../fonts/bestortho.svg?n65b3u#bestortho') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.bestortho {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bestortho' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bestorthoBest_Arthroscopic-Surgeon-SanjeevPatnaik .path1:before {
  content: "\e900";
  color: rgb(189, 190, 192);
}
.bestorthoBest_Arthroscopic-Surgeon-SanjeevPatnaik .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(189, 190, 192);
}
.bestorthoBest_Arthroscopic-Surgeon-SanjeevPatnaik .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(189, 190, 192);
}
.bestorthoBest_Arthroscopic-Surgeon-SanjeevPatnaik .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(189, 190, 192);
}
.bestorthoBest_Arthroscopic-Surgeon-SanjeevPatnaik .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(25, 182, 162);
}
.bestorthoBest_Arthroscopic-Surgeon-SanjeevPatnaik .path6:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(25, 182, 162);
}
.bestorthoBest_Arthroscopic-Surgeon-SanjeevPatnaik .path7:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(25, 182, 162);
}
.bestorthoBest_Arthroscopic-Surgeon-SanjeevPatnaik .path8:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(25, 182, 162);
}
.bestorthoBest_Arthroscopic-Surgeon-SanjeevPatnaik .path9:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(25, 182, 162);
}
.bestorthoBest_Arthroscopic-Surgeon-SanjeevPatnaik .path10:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(25, 182, 162);
}
.bestorthoBest_Arthroscopic-Surgeon-SanjeevPatnaik .path11:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(25, 182, 162);
}
.bestorthoBest_Arthroscopic-Surgeon-SanjeevPatnaik .path12:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(25, 182, 162);
}
.bestorthoBest_FootAnkle-Surgeon-SanjeevPatnaik .path1:before {
  content: "\e90c";
  color: rgb(25, 182, 162);
}
.bestorthoBest_FootAnkle-Surgeon-SanjeevPatnaik .path2:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(25, 182, 162);
}
.bestorthoBest_FootAnkle-Surgeon-SanjeevPatnaik .path3:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(25, 182, 162);
}
.bestorthoBest_FootAnkle-Surgeon-SanjeevPatnaik .path4:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(25, 182, 162);
}
.bestorthoBest_FootAnkle-Surgeon-SanjeevPatnaik .path5:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(25, 182, 162);
}
.bestorthoBest_FootAnkle-Surgeon-SanjeevPatnaik .path6:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(25, 182, 162);
}
.bestorthoBest_FootAnkle-Surgeon-SanjeevPatnaik .path7:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(25, 182, 162);
}
.bestorthoBest_FootAnkle-Surgeon-SanjeevPatnaik .path8:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(25, 182, 162);
}
.bestorthoBest_FootAnkle-Surgeon-SanjeevPatnaik .path9:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(25, 182, 162);
}
.bestorthoBest_FootAnkle-Surgeon-SanjeevPatnaik .path10:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(25, 182, 162);
}
.bestorthoBest_FootAnkle-Surgeon-SanjeevPatnaik .path11:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(25, 182, 162);
}
.bestorthoBest_FootAnkle-Surgeon-SanjeevPatnaik .path12:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(25, 182, 162);
}
.bestorthoBest_FootAnkle-Surgeon-SanjeevPatnaik .path13:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(189, 190, 192);
}
.bestorthoBest_FootAnkle-Surgeon-SanjeevPatnaik .path14:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(25, 182, 162);
}
.bestorthoBest_FootAnkle-Surgeon-SanjeevPatnaik .path15:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(25, 182, 162);
}
.bestorthoBest_FootAnkle-Surgeon-SanjeevPatnaik .path16:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(25, 182, 162);
}
.bestorthoBest_Hip-Surgeon-SanjeevPatnaik .path1:before {
  content: "\e91c";
  color: rgb(25, 182, 162);
}
.bestorthoBest_Hip-Surgeon-SanjeevPatnaik .path2:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(25, 182, 162);
}
.bestorthoBest_Hip-Surgeon-SanjeevPatnaik .path3:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(25, 182, 162);
}
.bestorthoBest_Hip-Surgeon-SanjeevPatnaik .path4:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(25, 182, 162);
}
.bestorthoBest_Hip-Surgeon-SanjeevPatnaik .path5:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(189, 190, 192);
}
.bestorthoBest_knee-Surgeon-SanjeevPatnaik .path1:before {
  content: "\e921";
  color: rgb(189, 190, 192);
}
.bestorthoBest_knee-Surgeon-SanjeevPatnaik .path2:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(25, 182, 162);
}
.bestorthoBest_knee-Surgeon-SanjeevPatnaik .path3:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(25, 182, 162);
}
.bestorthoBest_knee-Surgeon-SanjeevPatnaik .path4:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(25, 182, 162);
}
.bestorthoBest_knee-Surgeon-SanjeevPatnaik .path5:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(189, 190, 192);
}
.bestorthoBest_knee-Surgeon-SanjeevPatnaik .path6:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(189, 190, 192);
}
.bestorthoBest_knee-Surgeon-SanjeevPatnaik .path7:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(189, 190, 192);
}
.bestorthoBest_Pelvic_Surgeon-SanjeevPatnaik .path1:before {
  content: "\e928";
  color: rgb(189, 190, 192);
}
.bestorthoBest_Pelvic_Surgeon-SanjeevPatnaik .path2:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(189, 190, 192);
}
.bestorthoBest_Pelvic_Surgeon-SanjeevPatnaik .path3:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(25, 182, 162);
}
.bestorthoBest_Pelvic_Surgeon-SanjeevPatnaik .path4:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(25, 182, 162);
}
.bestorthoBest_Pelvic_Surgeon-SanjeevPatnaik .path5:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(25, 182, 162);
}
.bestorthoBest_Pelvic_Surgeon-SanjeevPatnaik .path6:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(25, 182, 162);
}
.bestorthoBest_Truma_Surgeon-SanjeevPatnaik .path1:before {
  content: "\e92e";
  color: rgb(25, 182, 162);
}
.bestorthoBest_Truma_Surgeon-SanjeevPatnaik .path2:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(25, 182, 162);
}
.bestorthoBest_Truma_Surgeon-SanjeevPatnaik .path3:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(189, 190, 192);
}
.bestorthoBest_Truma_Surgeon-SanjeevPatnaik .path4:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(189, 190, 192);
}
.bestorthoBest_Truma_Surgeon-SanjeevPatnaik .path5:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(189, 190, 192);
}
.bgimg {
  z-index: -1;
  overflow: hidden;
  left: 70px;
  position: relative;
  display: block;
}
#maincontent {
  height: 520px;
  width: 960px;
  margin: 20px auto;
  display: block;
  z-index: 8;
}
.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.responsive {
  /* width: 100%;
  max-width: 400px;
  height: auto; */
  /* float:  left; */
  width:  100px;
  height: 100px;
  background-size: cover;
}
.slideshowimg{
  height:170px;
  width:auto;/*maintain aspect ratio*/
  max-width:500px;
}
.slideshowimg_1{
  width: auto !important; /*Keep the aspect ratio of the image*/
height: 140px !important;
margin: 0 auto 1em auto; /*Center the image*/
}
